<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div id="app">
    <table rules="rows" frame="hsides" bordercolor="black" width="400px">
        <tr v-for="(book, index) in books" align="center">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td><button class="btn btn-danger" @click="delBook(index)">删除</button></td>
        </tr>
    </table>

	<legend>添加书籍</legend>
	<div>
		<label>书名</label>
		<input type="text" v-model="book.name">
	</div>
	<div >
		<label>作者</label>
		<input type="text" v-model="book.author">
	</div>
	<div>
		<label>价格</label>
		<input type="text" v-model="book.price">
	</div>
	<button @click="addBook">添加</button>
</div>


<script src = "vue.js"></script>

<script>
    var vm = new Vue({
		el: '#app',
		data: {
			book: {
				id: 0,
				author: '',
				name: '',
				price: ''
			},
			books: [{
				id: 1,
				author: '曹雪芹',
				name: '红楼梦',
				price: 32.0
			}, {
				id: 2,
				author: '施耐庵',
				name: '水浒传',
				price: 30.0
			}, {
				id: 3,
				author: '罗贯中',
				name: '三国演义',
				price: 24.0
			}, {
				id: 4,
				author: '吴承恩',
				name: '西游记',
				price: 20.0
			}]
		},
        methods: {
	        addBook() {		//计算书的id
		        this.book.id = this.books.length + 1;
		        this.books.push(this.book);
		        this.book = [];    //将input中的数据重置
	        },
            delBook(index){
                this.books.splice(index, 1);
            }
        }
    })
</script>
</body>
</html>