<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="vue.js"></script>
<body>
    <div id="app">
        <select @change="getCity(provinceId)" v-model="provinceId">
            <option value="">请选择</option>
            <option v-for="province in provinces" :value="province.id">{{province.text}}</option>
        </select>

        <select>
            <option value="">请选择</option>
            <option :value="city.id" v-for="city in getCity(provinceId)">{{city.text}}</option>
        </select>

        <select @change="getCity(provinceId)" v-model="provinceId">
            <option value="">请选择</option>
            <option v-for="province in provinces" :value="province.id">{{province.text}}</option>
        </select>

        <select>
            <option value="">请选择</option>
            <option :value="city.id" v-for="city in getCity(provinceId)">{{city.text}}</option>
        </select>
    </div>
</body>
<script>
    const app = new Vue({
        el:'#app',
        data:{
            provinces:[],
            provinceId:'',
            citys:[],
            areas:[]
        },
        created() {
            this.areas = [   
                {text:'广东省',id:1,pid:0}, 
                {text:'上海市',id:2,pid:0},
                {text:'广州市',id:11,pid:1},
                {text:'中山市',id:12,pid:1}
            ];

            var provinces=this.areas.filter(function (area) {
                return area.pid == 0;
            });
            this.provinces = provinces;

        },
        methods:{
            getCity:function (id) {
                var citys=this.areas.filter(function (city) {
                    return city.pid == id;
                })
                return citys;
            }
        }
    })
</script>
</html>