<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div id="app1">
	<my-table-component1 :table-head='bookhead' :table-body='books'></my-table-component1>
	<!-- <button @click="addBook">添加</button> -->
	<!-- <button @click='delBook'>删除</button> -->
</div>

<div id="app2">
	<my-table-component2 :table-head='bookhead' :table-body='books'></my-table-component2>
</div>

<template id='my-table'>
	<div>
		<table rules="rows" frame="hsides" bordercolor="black" width="900px">
			<thead align="center">
				<th v-for='(value, key, index) in tableHead'>{{value}}</th>
			</thead>
			<tbody align="center">
				<tr v-for='(value1, key1, index1) in tableBody'>
					<td v-for='(value2, key2, index2) in value1'>{{value2}}</td>
					<td><button @click='delBook(index1)'>删除</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script src = "vue.js"></script>

<script>
	var myTableComponent = Vue.extend({
		template: '#my-table',
		props: ['tableHead', 'tableBody']
	})

    var vm1 = new Vue({
		el: '#app1',
		data: {
			bookhead: ['序号', '作者', '书名', '价格', '出版日期', '操作'],
			books: [{
				id: 1,
				author: '曹雪芹',
				name: '红楼梦',
				price: 32.0,
				publishDate: 2014-01-01
			}, {
				id: 2,
				author: '施耐庵',
				name: '水浒传',
				price: 30.0,
				publishDate: 2010-01-01
			}, {
				id: 3,
				author: '罗贯中',
				name: '三国演义',
				price: 24.0,
				publishDate: 2008-01-01
			}, {
				id: 4,
				author: '吴承恩',
				name: '西游记',
				price: 20.0,
				publishDate: 2017-11-20
			}]
		},
		components: {
			'my-table-component1': myTableComponent
		},
        methods: {
	    //     addBook() {
		//         this.book.id = this.books.length + 1;
		//         this.books.push(this.book);
		//         this.book = [];
	    //     },
            delBook(index){
                this.books.splice(index, 1);
				console.log('111');
            }
        }
    })

	var vm2 = new Vue({
		el: '#app2',
		data: {
			bookhead: ['序号', '收货人', '地址', '电话', '操作'],
			books: [{
				id: 1,
				author: '曹雪芹',
				address: '广东省广州市从化区太平镇广从南路广州大学华软软件学院',
				phone: '18888888888'
			}, {
				id: 2,
				author: '施耐庵',
				address: '广东省广州市从化区太平镇广从南路广州大学华软软件学院',
				phone: '18888888888'
			}, {
				id: 3,
				author: '罗贯中',
				address: '广东省广州市从化区太平镇广从南路广州大学华软软件学院',
				phone: '18888888888'
			}, {
				id: 4,
				author: '吴承恩',
				address: '广东省广州市从化区太平镇广从南路广州大学华软软件学院',
				phone: '18888888888'
			}]
		},
		components: {
			'my-table-component2': myTableComponent
		}
    })
</script>
</body>
</html>