<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .show{
        background-color:#e35885;
    }
    .show2:hover
    { 
        background-color:#e0ee23;
    }
</style>
<body>

<div id="app">
    <table border=10 class='show'>
        <tr>信息统计表</tr>

        <tr>
        <td class='show2'>姓名</td>
        <td class='show2'>
            <input type="text" v-model.lazy="name">
        </td></tr>

        <tr>
        <td class='show2'>年龄</td>
        <td class='show2'>
            <input type="number" v-model.lazy="age">
        </td></tr>

        <tr>
        <td class='show2'>性别：</td>
        <td class='show2'>
            <label for="male">
                <input type="radio" id='male' value='男' v-model='sex'>男
            </label>
            <label for="female">
                    <input type="radio" id='female' value='女' v-model='sex'>女
            </label>
        </td></tr>

        <tr>
        <td class='show2'>爱好：</td>
        <td class='show2'>
            <label v-for="item in originHobbies" :for="item">
                <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}</br>
            </label>
        </td></tr>

        <tr>
        <td class='show2'>学历</td>
        <td class='show2'>
            <select v-model="education">
                <option>大学本科</option>
                <option>高中</option>
                <option>初中</option>
                <option>小学</option>
            </select>
        </td></tr>

        <tr>
            <td class='show2'>自我介绍</td>
            <td class='show2'><input type="text" v-model="self"></td>
        </tr>
    </table>
    <p>
        你的名字是：{{name}}</br>
        你的年龄是：{{age}}</br>
        你的性别是：{{sex}}</br>
        你的爱好是：{{hobbies}}</br>
        你的学历是：{{education}}</br>
        你的自我介绍：{{self}}
    </p>
</div>

<script src="vue.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            name: '',
            age: '',
            sex: '男',
            originHobbies: ['旅游', '登山', '健身', '上网', '游泳'],
            hobbies: [],
            education: '大学本科',
            self: ''
        }
    })
</script>

</body>
</html>