<!DOCTYPE html>
<html lang="en">
<head>
    <title>购物车</title>
</head>
<body>

<div id="app">
    <div v-if="books.length">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="(book, index) in books">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.date}}</td>
                <!-- <td>{{getFinalprice(book.price)}}</td> -->
                <td>{{book.price | showPrice}}</td>  <!--使用过滤器-->
                <td>
                    <button @click="sub(index)" v-bind:disabled="book.count <= 1">-</button>
                    {{book.count}}
                    <button @click="add(index)">+</button>
                </td>
                <td><button @click="removeClick(index)">移除</button></td>
            </tr>
        </tbody>
    </table>
    <h2>总价格：{{AllPrice | showPrice}}</h2>
    </div>
    <h2 v-else>购物车为空</h2>
</div>

<script src = "../vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            books: [
                {
                    id: 1,
                    name: '《算法导论》',
                    date: '2003-7',
                    price: 85.00,
                    count: 1
                },
                {
                    id: 2,
                    name: '《JavaScript基础教程》',
                    date: '2006-4',
                    price: 65.00,
                    count: 1
                },
                {
                    id: 3,
                    name: '《三体》',
                    date: '2013-9',
                    price: 52.00,
                    count: 1
                },
                {
                    id: 4,
                    name: '《UNIX编程艺术》',
                    date: '2020-4',
                    price: 55.00,
                    count: 1
                }
            ]
        },
        methods:{
            add(index) {
                this.books[index].count ++;
            },
            sub(index) {
                this.books[index].count --;
            },
            removeClick(index) {
                this.books.splice(index, 1);
            }
        },
        computed: {
            AllPrice() {
                return this.books.reduce(function (preValue, book){
                    return preValue + book.price * book.count
                }, 0)
            }
        },
        filters: {  //过滤器
            showPrice(price){
                return '$' + price.toFixed(2)
            }
        }
    })
</script>


<style>
    table {
        border: 1px solid #e9e9e9;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th, td {
        padding: 8px 16px;
        border: 1px solid #e9e9e9;
        text-align: left;
    }

    th {
        background-color: #f7f7f7;
        color: #5c6b77;
        font-weight: 600;
    }
</style>

</body>
</html>