{% extends "views/homeIndex.html" %}
{% block right %}
<div id="searchUser">
  <div style="color: red;">{{addinfo}}</div>
  <form action="/users/saveUser" method="post" id="saveuser">
    <div>
      <label>姓名：</label>
      <input type="text" name="username" required="required">
    </div>
    <div>
      <label>手机号：</label>
      <input type="text" name="phone" required="required">
    </div>
    <div>
      <label>角色：</label>
      <select name="role_id" required="required">
        <option value="">请选择角色</option>
        {% for role in searchUserData.roles %}
        <option value="{{role.id}}">{{role.rolename}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <input type="submit" value="新增">
    </div>
  </form>
</div>
{% endblock %}